body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0%;
    font-family: serif;
}
.sidebar {
    background-color: #b91c1c;
    color:white;
}
.group1, .group2{
    margin: 20px;
}
.sidebarItems, .dashboard {
    display: flex;
    align-items: center;
    font-size: 25px;
}
.header {
    border: 1px solid red;
}
.header1, .header2 {
    display: flex;
    justify-content: space-between;
}
.group3, .group4, .group5{
    display: flex;
}
.group5 {
    gap: 40px;
}
input[type= "search"]{
    max-height: 40px;
    width: 400px;
    border-radius: 20px;
}
input[type = "search"]:focus {
    border: none;
}
button {
    max-height: 40px;
    border-radius: 25px;
    color: white;
    background-color: #dc2626;
    border: none;
    font-size: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #e5e7eb;
}
.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.proyects{
    border: 1px solid yellowgreen;
    min-height: 150px;
    width: 400px;
    background-color: white;
}
.announcements {
    font-size: 17px;
    background-color: white;
}
.announcements {
    padding: 5%;
}
.trending-boxes {
    display: flex;
    background-color: white;
    padding-left: 5%;
    padding-top: 5%;
}
.trending-text {
    margin: 0%;
    font-size: 17px;
}
