body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0%;
    font-family: serif;
    font-size: 0.5rem;
}
.sidebar {
    background-color: #b91c1c;
    color:white;
}
.group1, .group2{
    margin: 20px;
}
.sidebarItems, .dashboard {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    margin: 1%;
}
.sidebarItems:hover {
    background-color: #881515;
    padding: 1%;
    border-radius: 10px;
}
.header1, .header2 {
    display: flex;
    justify-content: space-between;
}
.searchGroup {
    margin-left: 5%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.name {
    font-size: 25px;
    margin: 0%;
}
.group3 {
    margin-right: 5%;
    margin-top: 1%;
    gap: 30px;
    font-size: 20px;
}
.group4 {
    margin-left: 5%;
    gap: 20px;
}
.group3, .group4, .group5{
    display: flex;
}
.group5 {
    gap: 40px;
    margin-right: 5%;
}
input[type= "search"]{
    height: 30px;
    width: 600px;
    border-radius: 20px;
    background-color: #e5e7eb;
    border:1px solid #e5e7eb;
}
input[type= "search"]:focus {
    outline: none;
    border: 4px solid #dc2626;
    background-color: white;
}
button {
    max-height: 40px;
    border-radius: 25px;
    color: white;
    background-color: #dc2626;
    border: none;
    font-size: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
}
button:hover {
    background-color: #881515;
}
.content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: #e5e7eb;
}
h4 {
    margin-left: 5%;
    font-size: 1rem;
}
.boxes {
  display: flex;
  max-width: 900px;
  min-height: 590px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.proyects{
    border-left: 5px solid #dc2626;
    min-height: 120px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    font-size: 1rem;
    box-shadow: 10px 5px 20px rgb(165, 165, 165);
}
.buttons {
    margin-top: 10%;
    margin-left: 65%;
}
.announcements {
    font-size: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 5px 20px rgb(168, 168, 168);
    padding: 5%;
    margin-right: 5%;
}
.trendings {
    background-color: white;
    box-shadow: 10px 5px 20px gray;
    border-radius: 20px;
    margin-right: 5%;
    margin-bottom: 5%;
}
.trending-boxes {
    display: flex;
    padding-left: 5%;
    padding-top: 5%;
    gap: 10px;
}
.trending-text {
    margin: 0%;
    font-size: 10px;
}
